<a href="https://colab.research.google.com/github/ThatNerdSquared/datasci/blob/main/python-getting-started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Started with Python
Authors: Neha Sharma & Eva Yap

What is Python?

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:
1. Web development (server-side)
2. Software development
3. Mathematics
4. System scripting

In [ ]:
# Getting Started
print("Hello, World!")

Hello, World!

# Python Indentation
* Indentation refers to the spaces at the beginning of a code line.
* Python uses indentation to indicate a block of code.

In [ ]:
if 5 > 2:
 print("Five is greater than two!")

Five is greater than two!

In [ ]:
# You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:
if 5 > 7:
 print("Five is greater than two!")
print("Five is greater than two!")

Five is greater than two!

# Variables
Variables are containers for storing data values.

## Creating Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

## Naming Variables
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

### Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Remember that variable names are case-sensitive. For example, age, Age and AGE are three different variables.

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# Illegal variable names
2myvar = "John"
my-var = "John"
my var = "John"

## Output Variables
* Python print statement is often used to output variables.
* To combine both text and a variable, Python uses the ```+``` character.

In [ ]:
x = "awesome"
print("Python is " + x)

Python is awesome

You can also use the ```+``` character to add a variable to another variable.

In [ ]:
# Use the + character to add a variable to another variable
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

You can also use the + character to add a variable to another variable.

In [ ]:
x = 5
y = 1
print(x + y)

6

But, remember that the variables have to be the same type.

In [ ]:
x = 5
y = 6
print(x + y)

11

If you want to print multiple variables of different data types using single print.

In [ ]:
x = 5
y = "John"
print("x is %d and y is %s" %(x,y)) # For integer use %d, string %s, float %f

x is 5 and y is John

# Conditions and If statements
Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in if statements and loops.

An if statement is written by using the ```if``` keyword.

In [ ]:
# If statement:

a = 33
b = 200
if b > a:
  print("b is greater than a")

## Elif
The ```elif``` keyword is Python's way of saying "if the previous conditions are not true, then try this condition."

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

## Else
The ```else``` keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

## And
The ```and``` keyword is a logical operator, and is used to combine conditional statements.

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are true")

## Or
The ```or``` keyword is a logical operator, and is used to combine conditional statements.

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is true")

## Nested If
You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

## Practice Question 1
Write a Python program to convert temperatures from celsius to fahrenheit , and vice versa.

See formula below, where C = temperature in celsius and F = temperature in fahrenheit.

![image-1.jpeg]()

In [ ]:
# change this value for a different result
convert_to = 'fahrenheit'      # 'fahrenheit' or 'celsius'
degree = 37.5                  # temperature value

# Loops
Python has two primitive loop commands:

* while loops
* for loops

## While Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
# Print i as long as i is less than 6:

i = 1
while i < 6:
  print(i)
  i += 1

### Break Statement
With the break statement we can stop the loop even if the while condition is true.

In [ ]:
# Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

### Continue Statement
With the continue statement we can stop the current iteration, and continue with the next.

In [ ]:
# Continue to the next iteration if i is 3

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

## For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the ```for``` keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
# Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

The for loop does not require an indexing variable to set beforehand.

### Looping Through a String
Even strings are iterable objects, they contain a sequence of characters.

In [ ]:
# Loop through the letters in the word "banana":

for x in "banana":
  print(x)

### Break Statement
With the break statement we can stop the loop before it has looped through all the items.

In [ ]:
# Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

### Continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
# Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

### The ```range()``` Function
To loop through a set of code a specified number of times, we can use the ```range()``` function.

The ```range()``` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
# Using the range() function:

for x in range(6):
  print(x)

Note that ```range(6)``` is not the values of 0 to 6, but the values 0 to 5.

The ```range()``` function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: ```range(2, 6)```, which means values from 2 to 6 (but not including 6).

In [ ]:
# Using the start parameter:

for x in range(2, 6):
  print(x)

The ```range()``` function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: ```range(2, 30, 3)```.

In [ ]:
# Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

## Nested Loops
A nested loop is a loop inside a loop.

The inner loop will be executed one time for each iteration of the outer loop.

In [ ]:
# Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

## Practice Question 2
Write a Python program to construct the following pattern, using a nested for loop. [Hint: use "end" in print()]

\*

\*  \* 

\*  \*  \* 

\* \* \* \* 

\* \* \* \* \*

\* \* \* \* 

\* \* \* 

\* \* 

\*

In [ ]:
n=5;
for i in range(n):
    for j in range(i):
      print ('* ', end="")
    print('')

# write code to print the rest

# Functions
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

## Creating a Function
In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

## Calling a Function
To call a function, use the function name followed by parenthesis.

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

## Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

### Default Parameter Value
The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

### Passing a List as an Argument
You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a list as an argument, it will still be a list when it reaches the function.

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

## Returning Values
To let a function return a value, use the return statement.

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

## Recursion
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

A developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, ```tri_recursion()``` is a function that we have defined to call itself ("recurse"). We use the ```k``` variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer, it can take some time to work out how exactly this works. The best way to find out is by testing and modifying it.

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

## Practice Question 3
Write a Python function to find the max of three numbers.

In [ ]:
# insert code here

## Practice Question 4
Write a Python function that checks whether a passed string is palindrome or not. 

A palindrome is a sequence of characters which reads the same backward as forward (e.g. madam).

In [ ]:
# insert code here